/*body{

  background: url(index.png),url(index.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
/*.navbar-default {
	background:transparent;
    border:none;
	position: center;
    width: 100%;
    left: 0;
    text-align: center;
    padding:2px;
    margin-top:-5px;
}
.navbar-default .navbar-nav > li > a {
	color:white;
	font-size: 15px; 
	text-align: center;
}
.navbar-default .navbar-nav > li > a:active {
    color:white;  
}
.navbar h2 {
    color:white;
    font-family:'Droid Sans', sans-serif;
    font-size:18px;
}
h4 {
    color:black;
    font-size:18px;
    font-family:'Droid Sans', sans-serif;
}
img {
    height:60px;
    margin-right:-20px;
}*/

.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
   background: url(index.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #f05f40;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}



.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

   
}


.main-title {
	position: absolute;
	margin-top:20px;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
    font-family: 'Open Sans Condensed', sans-serif;  
    font-size: 50px;
}
span {
    font-family: 'Karla', sans-serif;
    font-size: 57px;
}

.intro {
    background: url(index.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.middle {
   background:rgb(35, 28, 35);
   color:white;
}
.col-md-6 {
    padding:0px;
}
.middle h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size:40px;
    text-align:left;
}
.middle p{
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
    font-size:20px;
}
.city {
  background:#F8F8FF;
  color: gray;
}
.team {
  background:#FFF8DC;
  color: gray;
  font-size: 20px;
}
.blog {
  background: #F8F8FF;
  color: gray;
}
.contact {
  background:#FFF;
  color: gray;
}

    
.container {
    padding:200px;
    padding-left:100px;
    padding-top: 175px;
    padding-bottom:250px;
    text-align:center;
}
.container , .right-content{
    padding-right: 30px;
}
    
.btn-default{
    background:transparent;
    border-color:white;
    border-radius:0px;
    color:white;
    font-size:20px;
}
.btn:hover, .btn:active {
  color: white;
  background-color: rgba(0,0,0,0.3);
}
.left-content {
  margin-right:50px;
  
}
.col-md-12 h1{
    font-family: 'Ubuntu', sans-serif;
    font-size:40px;
    text-align:center;
    padding-left:50px;
}
.citynumber {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
}
.location {
  color: black;
  font-size: 40px;
}
.form-control {
    border: 0;
}
.form-inline .form-group input {
  height: 50px;
  font-size: 20px;
  color: black;
  width:400px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 0;
  text-align: center;
} 
.blog h1 {
  color: black;
}
.blog p {
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
    font-size:20px;
    color: black;

}
.blog .right-content {
  margin-top: 7%;
}
.blog .btn-default{
    background:transparent;
    border-color:gray;
    border-radius:0px;
    color:black;
    font-size:20px;
    height: 100px;
    width: 500px
}
.blog .btn:hover {
  background-color: rgba(255,255,255,0.5);
}

.blog .btn:active {
  background-color: rgba(255,255,255,0.5);
}





